<div style="height: 100vh;">

    <div style=" height: 70%; display: flex; justify-content: center; flex-direction: column; align-items: center">
        <h1 style="font-size: 300px;
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;">Welcome</h1>
        <h1 style="padding: 40px; border: #CCCC00 dotted 10px; border-radius: 10%"><%= link_to 'Check Out All Out Products', products_path %></h1>
    </div>
</div>